<style>
  .btn-search{
    background-color: #fe424d;
    color: #fff;
    opacity: 0.9;
    border-radius: 25px;
  }
  .btn-search:hover{
    background-color: #fe424d;
    color: #fff;
    opacity: 1;
  }
  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom head-nav sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="height: 5rem;">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a> 
        </div>
        
       <div class="navbar-serch ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="height: 2.6rem;justify-content: center;align-items: center;margin-top: 1rem;border-radius: 25px;" >
          <button class="btn btn-search" type="submit" style="width: 8.5rem;align-items: center;justify-content: center;">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
       </div>

        <div class="nav-item dropdown  ms-auto dropdown " style="display: flex;">
          <a class="nav-link" style="margin-right: 1rem;" href="/listings/new">add new</a> 
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b>
            Profile</b>
          </a>
          <ul class="dropdown-menu">
            <% if(!currentUser) { %>
            <li><a class="dropdown-item" href="/signup">SignUp</a></li>
            <li><a class="dropdown-item" href="/login">Log in</a></li>
            <li><hr class="dropdown-divider"></li>
            <% } %>
            <% if(currentUser) { %>
            <li><a class="dropdown-item" href="/logout">LogOut</a></li>
          </ul>
          <% } %>
        </div>
      </div>
    </div>
  </nav>